<div class="admins-index">
    <div class="admins-index-title">
        <h1>管理者編集ページ一覧</h1>
    </div>
    <div class="admins-index-list">
        <ul>
            <li><%= link_to "User一覧", users_path %></li>
            <li><%= link_to "Voice一覧", voices_path %></li>
            <li><%= link_to "News一覧", news_index_path %></li>
            <li><%= link_to "Post一覧", posts_path %></li>
            <li><%= link_to "Board一覧", boards_path %></li>
            <li><%= link_to "Question一覧", questions_path %></li>
            <li><%= link_to "Inquiry一覧", inquiries_path %></li>
        </ul>
    </div>
</div>
