<div class="boards-index">
    <div class="boards-index-title">
        <p>掲示板一覧</p>
    </div>
    <div class="boards-index-new-btn">
        <p><%= link_to "新規作成する", "/boards/new" %></p>
    </div>
    
    <% @boards.each do |b| %>
      <div class="boards-index-main">
          <div class="boards-index-main-title">
              <p><%= b.title %></p>
          </div>
          <div class="boards-index-main-content clearfix">
              <div class="boards-index-main-text">
                  <ul>
                      <li>開催日：<span><%= b.day.strftime("%Y/%m/%d") %></span></li>
                      <li>開催時間：<span><%= b.times.strftime("%H:%M") %></span></li>
                      <li>場所：<span><%= b.place %></span></li>
                      <%= link_to "/users/#{b.user_id}" do %>
                        <li>主催者：<%= User.find_by(id: b.user_id).name %></li>
                      <% end %>
                  </ul>
                  <div class="boards-index-btn">
                    <%= link_to "詳細を見る", "/boards/#{b.id}" %>
                  </div>
              </div>
              <div class="boards-index-main-image">
                <% if b.image.present? %>
                  <%= image_tag b.image, class: "boards-index-img" %>
                <% else %>
                  <%= image_tag "default-board.jpg", class: "boards-index-img" %>
                <% end %>
              </div>
          </div>
      </div>
    <% end %>
    
</div>