<div class="header">
    <div class="header-logo">
        <ul>
            <% if user_signed_in? %>
              <li><%= link_to "趣-Meeting", "/users/#{current_user.id}" %></li>
            <% else %>
              <li><%= link_to "趣-Meeting", "/" %></li>
            <% end %>
        </ul>
    </div>
    <div class="toggle-btn">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="navbar-select">
        <% if user_signed_in? %>
          <% if current_user.id == 0 %>
            <div class="admin-btn">
              <li><%= link_to "管理者メニュー", admins_path %></li>
            </div>
          <% end %>
          <li><%= link_to "ログアウト", destroy_user_session_path, :method => "delete", data: {confirm: '本当にログアウトしてもよろしいでしょうか？'}  %></li>
          <li><%= link_to "掲示板一覧", "/boards" %></li>
          <li><%= link_to "投稿一覧", "/posts" %></li>
          <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
          <li><%= link_to "/participations" do  %>
              <i class="far fa-bell"></i>
              <!--< my_board_participations.count %>-->
              <% end %></li>
        <% else %>
          <li><%= link_to "ログイン", "/users/sign_in" %></li>
          <li><%= link_to "新規登録", "/users/sign_up" %></li>
        <% end %>
    </ul>
</div>
<div class="arrow-circle-up">
  <a href="/"><i class="fas fa-arrow-circle-up"></i></a>
</div>